@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Sen:wght@400;700;800&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Sen', sans-serif; */

:root{
    --heading-font: 'Sen', sans-serif;
    --template-font : 'DM Sans', sans-serif;
    --primary-color: #4041F7;
    --secondary-color: #2bc6a7;

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--heading-font);
    font-size: 16px;
}

p{
    margin: 0;
}

h1{
    font-size: 65px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 24px;
}

h6{
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--template-font);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
}
/* theme css */

.pt-60{
    padding-top: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pt-80{
    padding-top: 90px;
}
.pt-90{
    padding-top: 90px;
}
.pt-100{
    padding-top: 100px;
}
.pt-110{
    padding-top: 110px;
}
.pt-120{
    padding-top: 120px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-90{
    padding-bottom: 90px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-110{
    padding-bottom: 110px;
}
.pb-120{
    padding-bottom: 120px;
}











/* header area */

.header-area{
    position: relative;
    z-index: 10;
}

.header-area .top-bar{
    background-color: var(--secondary-color);
    padding: 10px 15px;
}

.header-area .topbar-left{
    display: flex;
}

.header-area .top-bar .topbar-item:last-child{
    margin-left: 35px;
}

.header-area .topbar-left .topbar-item a .icon-wrapper{
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.header-area .topbar-left .topbar-item a span{
    color: #fff;
}
.header-area .topbar-right{
    text-align: right;
}
.header-area .topbar-right .topbar-social a{
    color:#fff;
    font-size: 18px;
    display: inline-block;
    margin-right: 8px;
    transition: 0.3s;
}
.header-area .topbar-right .topbar-social a:hover{
    color:var(--primary-color)
}


.header-area .navigation-area{
    background-color: #ddd;
}

.header-area .logo-wrapper{

}

.header-area .nav-wrapper{
    text-align: center;
}

.header-area .nav-wrapper ul li{
    display: inline-block;
    position: relative;
}

.header-area .nav-wrapper ul li ul{
   position: absolute;
   top: calc(100% + 15px);
   left: 0;
   mix-width: 220px;
   background-color: #2bc6a7;
   transition: 0.3s;
   opacity: 0;
   visibility: hidden;
}

.header-area .nav-wrapper ul li ul li{
    display: inline-block;
    text-align: left;
}
.header-area .nav-wrapper ul li:hover ul{
    top: 100%;
    opacity: 100%;
    visibility: visible;

}
.header-area .nav-wrapper ul li ul li a{
    color: #fff;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
}


.header-area .nav-wrapper ul li a{
    display: inline-block;
    padding: 15px 15px;
    color: var(--secondary-color);
    font-weight: 600;
    transition: 0.3s;
}

.header-area .nav-wrapper ul li a:hover{
    color: var(--primary-color);
}

.header-area .logo-wrapper{
    padding-left: 35px;
}
.header-area .logo-wrapper a{
    text-transform: uppercase;
    color: var(--primary-color)
}
.header-area .header-btn{
    text-align: right;
    padding-right: 15px;
}
.header-area .header-btn a{
    display: inline-block;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-family: var(--heading-font);
    font-weight: 700;
    text-transform: capitalize;
}

/* hero area */

.hero-area{
    background-image: url(../img/Object.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 330px 0 180px 0;
    margin-top: -140px;
}

.hero-area .hero-left .hero-title{
    margin: 30px 0px;

}

.hero-area .hero-left .hero-para{
    width: 500px;
}
.hero-area .hero-left .subtitle span{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    padding-left: 80px;
}
.hero-area .hero-left .subtitle span::before{
    content:"";
    width: 75px;
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
}
.hero-area .hero-left .hero-title h1 span{
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
}
.hero-area .hero-left .hero-title h1 {
    font-weight: 700;
    letter-spacing: -3.3px;
}

.hero-area .hero-img{
    position: relative;
    height: 100%;
}

.hero-area .hero-img img{
    position: absolute;
    bottom: -180px;
}

.hero-area .hero-left .hero-btn{

}

.hero-area .hero-left .hero-btn .primary-btn a{

    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 25px;
    font-family: var(--heading-font);
    font-weight: 700;
    border-radius: 5px;
    text-transform: capitalize;
    
}

/* about section */

.about-section .about-right .about-title{
    margin-top: 20px;
}
.about-section .about-right .about-list{
    margin-top: 20px;
}
.about-section .about-right .about-list ul li{
    position: relative;
    font-weight: 700;
    color: var(--secondary-color);
    padding-left: 25px;
    
}
.about-section .about-right .about-list ul li::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 6px;
    left: 0;
}
.about-section .about-txt{
    margin-top: 25px;
}

.about-section .about-bottom{
    margin-top: 40px;
}

.about-section .md-wrapper{
    display: flex;
    align-items: center;
}

.about-section .about-bottom .md-content {
    margin-left: 15px;    
}

.about-section .signature-wrapper img{
    max-width: 148px;
}

/* ct area */
 
.ct-area {
    position: relative;
}
.ct-area .ct-title-area{
    margin-bottom: 50px;
    
}
.frame-shape1{
    position: absolute;
    bottom: 60px;
    left: -60px;
    z-index: 1;
}
.frame-shape2{
    position: absolute;
    top: 80px;
    right: -60px;
    z-index: 1;
}
.ct-area .ct-column{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 30px 25px;
    transition: .3s;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
    
}
.ct-area .ct-column:hover{
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.05);
}

.ct-area .ct-column .figure-icon span{
    width: 44px;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.1); ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.ct-area .ct-column .column-title {
    margin-top: 20px;
}
.ct-area .ct-column .column-title h2{
    letter-spacing: -2.8px;
}
.ct-area .ct-column .column-desc span{
    font-weight: 700;
}











/* footer area */
.footer-area {
    background-color: var(--secondary-color);
  }
  
  .footer-area .footer-logo h3 {
    color: #fff;
  }
  
  .footer-area .footer-text {
    margin-top: 40px;
  }
  
  .footer-area .footer-text p {
    color: #fff
  }
  
  .footer-area .footer-social {
    margin-top: 40px
  }
  
  .footer-area .footer-social a {
    background-color: var(--primary-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: ;
  }
  
  .footer-weiget .footer-title {
    margin-bottom: 40px;
  }
  
  .footer-weiget .footer-title h6 {
    color: #fff;
  }
  
  .footer-area .footer-nav ul li {
    display: block;
  
  }
  
  .footer-area .footer-nav ul li {
    display: block;
  
  }
  
  .footer-area .footer-nav ul li+li {
    margin-top: 15px;
  }
  
  .footer-area .footer-nav ul li a {
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
  
  }
  
  .footer-weiget .footer-info ul li {
    display: flex;
    align-items: center;
  }
  
  .footer-weiget .footer-info ul li+li {
    margin-top: 15px;
  }
  
  .footer-area .footer-info ul li .icon-wrapper {
    margin-right: 10px;
  }
  
  .footer-area .footer-info ul li .icon-wrapper i {
    background-color: rgba(61, 60, 88, .2);
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .footer-weiget .footer-info ul li .icon-info,
  .footer-weiget .footer-info ul li .icon-info a {
    color: #fff;
  }