@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Sen:wght@400;700;800&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Sen', sans-serif; */

:root{
    --heading-font: 'Sen', sans-serif;
    --template-font : 'DM Sans', sans-serif;
    --primary-color: #4041F7;
    --secondary-color: #2bc6a7;

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--heading-font);
    font-size: 16px;
}

p{
    margin: 0;
}

h1{
    font-size: 65px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 24px;
}

h6{
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--template-font);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
}

/* header area */

.header-area .top-bar{
    background-color: var(--secondary-color);
    padding: 10px 15px;
}

.header-area .topbar-left{
    display: flex;
}

.header-area .top-bar .topbar-item:last-child{
    margin-left: 35px;
}

.header-area .topbar-left .topbar-item a .icon-wrapper{
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.header-area .topbar-left .topbar-item a span{
    color: #fff;
}
.header-area .topbar-right{
    text-align: right;
}
.header-area .topbar-right .topbar-social a{
    color:#fff;
    font-size: 18px;
    display: inline-block;
    margin-right: 8px;
    transition: 0.3s;
}
.header-area .topbar-right .topbar-social a:hover{
    color:var(--primary-color)
}


.header-area .navigation-area{
    background-color: #ddd;
}

.header-area .logo-wrapper{

}

.header-area .nav-wrapper{
    text-align: center;
}

.header-area .nav-wrapper ul li{
    display: inline-block;
}

.header-area .nav-wrapper ul li a{
    display: inline-block;
    padding: 15px 15px;
    color: var(--secondary-color);
    font-weight: 600;
    transition: 0.3s;
}

.header-area .nav-wrapper ul li a:hover{
    color: var(--primary-color);
}

.header-area .header-btn a{
    display: inline-block;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 20px;
}